.aboutMeContainer {
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.aboutMeContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.aboutMeIntroContainer {
  width: 100%;
  height: auto;
  background-image: url("/images/otherbg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutMeIntroContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.aboutMeHeader {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 100px 0 0 0;
  text-align: center;
}

.aboutMeHeaderContent {
  padding: 0 20px 200px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.aboutMeTitleContainer {
  width: calc(100%);
}

.aboutMeTitleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutMeTitleContent h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.aboutMeTitleContent p {
  text-align: left;
  width: 100%;
  font-size: 14px;
  color: rgba(30, 30, 30, 0.6);
}

.aboutMeAnimationContainer {
  width: calc(50%);
  display: none;
}

.aboutMeAnimationContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.socialIconsBg {
  width: 400px;
  height: 300px;
}

.socialIconsItems {
  z-index: 100;
  background-color: antiquewhite;
}

.socialIconItem1,
.socialIconItem2,
.socialIconItem3 {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 30px;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.socialIconItem1 {
  left: 50%;
  top: 30%;
}

.socialIconItem2 {
  left: 43%;
  top: 50%;
}

.socialIconItem3 {
  left: 57%;
  top: 50%;
}

.skillsContainer {
  margin: 0 auto;
  max-width: 80%;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 50%,
    #fff 50%,
    transparent
  );
}

.skillsContent {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  animation: scroll 20s linear infinite;
}

.educationCertsContainer {
  width: 100%;
  height: auto;
  padding: 0px 10px 50px 10px;
  background-image: url("/images/otherbg2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.educationCertContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.educationContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 18px;
  color: #ffffff;
  position: relative;
  padding-right: 30px;
  width: fit-content;
}

.title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.educationContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.certContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.certContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media Queries */
@media (min-width: 376px) {
}
@media (min-width: 426px) {
}
@media (min-width: 601px) {
}

@media (min-width: 769px) {
  .aboutMeHeader {
    padding: 200px;
  }

  .aboutMeHeaderContent {
    padding: 0px;
  }

  .aboutMeTitleContainer {
    width: calc(50%);
  }

  .aboutMeTitleContent h1 {
    font-size: 64px;
  }

  .aboutMeTitleContent p {
    text-align: left;
    width: 80%;
    font-size: 16px;
  }

  .aboutMeAnimationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .educationCertsContainer {
    padding: 100px 200px;
  }

  .educationCertContent {
    gap: 30px;
  }

  .educationContainer {
    gap: 20px;
  }

  .title {
    font-size: 24px;
    padding-right: 50px;
  }

  .title::before {
    width: 50px;
  } 

  .certContainer {
    gap: 20px;
  }

  .certContent {
    gap: 50px;
  }
}

@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
@media (min-width: 1441px) {
}
@media (min-width: 1921px) {
}
