.hamburgerMenu {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: rgba(25, 22, 21, 0.6);
  z-index: 102;
}

.hamburgerMenuHomeColor {
  color: #f08a8a;
}

.footerContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
  padding: 16px;
  border-top: none;
  box-shadow: none;
  z-index: 100;
  /* border-top: 1px solid #e9ecef; */
}

.footerContent {
  display: none;
}

.footerContainer.openMenu .footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191714;
  z-index: 101;
}

.closeIcon {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #f08a8a;
  cursor: pointer;
}

.nameLogo h3 {
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Courier New", Courier, monospace;
}

.navItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.linkItem {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.linkItem.activeLink,
.navItems.brightColorText .linkItem.activeLink {
  color: #f08a8a;
  position: relative;
}

.linkItem.activeLink::after,
.navItems.brightColorText .linkItem.activeLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f08a8a;
  bottom: -5px;
  left: 0;
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.socialLinks span {
  font-size: 20px;
  cursor: pointer;
}

.githubIcon {
  color: rgba(255, 255, 255, 0.8);
}

.mailIcon {
  color: rgba(255, 255, 255, 0.6);
}

/* Media Queries */
@media (min-width: 769px) {
  .hamburgerMenu {
    display: none;
  }

  .footerContainer {
    position: relative;
    height: 10%;
    width: 100%;
    padding: 80px 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 4px 4px rgba(240, 138, 138, 0.25);
    z-index: initial;
  }

  .footerContainer.addBgColor {
    background-color: #191714;
  }

  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .closeIcon {
    display: none;
  }

  .nameLogo h3 {
    font-size: 32px;
  }

  .navItems {
    flex-direction: row;
    gap: 50px;
    margin-left: -100px;
  }

  .navItems.brightColorText .linkItem {
    color: rgba(255, 255, 255, 0.5);
  }

  .linkItem {
    font-size: 18px;
    color: rgba(30, 30, 30, 0.4);
  }

  .socialLinks {
    gap: 50px;
  }

  .socialLinks span {
    font-size: 35px;
  }
}
