.cardContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cardComponent {
  width: 95%;
  height: auto;
  min-height: 90vh;
  max-height: 90vh;
  background: #191714;
  border-radius: 8px 8px 0 0;
  position: relative;
  overflow-y: auto;
}

.cardComponent::-webkit-scrollbar {
  background: #000;
}

.cardComponent::-webkit-scrollbar-track {
  background: #000;
}

.cardComponent::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.cardComponent::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.closeBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.cardContent {
  width: 100%;
  height: 100%;
  /* padding: 80px; */
}

/* Media Queries */
@media (min-width: 376px) {
}
@media (min-width: 426px) {
}
@media (min-width: 601px) {
}

@media (min-width: 769px) {
  .cardComponent {
    width: 50%;
  }

  .closeBtn {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
@media (min-width: 1441px) {
}
@media (min-width: 1921px) {
}
