.workContainer {
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.workContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.introContainer {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.introContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.introHeader {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 100px 0 0 0;
  text-align: center;
}

.introHeaderContent {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.introHeaderContent h1 {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.introHeaderContent p {
  font-size: 14px;
  padding: 0px 10px;
  color: rgba(255, 255, 255, 0.8);
}

.workExpContainer {
  width: 100%;
  height: auto;
  padding: 50px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.workExpTitle {
  font-size: 18px;
  color: #ffffff;
  position: relative;
  padding-right: 30px;
  width: fit-content;
}

.workExpTitle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.workExpWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.navigationButtons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 0px;
}

.navButton {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgba(240, 138, 138, 0.8);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navButton:hover {
  background: rgba(255, 255, 255, 0.2);
}

.navButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.workExpList {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0 0px 5px 0px;
  overflow-x: auto;
  overflow-y: hidden;
}

.workExpList::-webkit-scrollbar {
  display: none;
}

.workExpList {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0 0px 5px 0px;
}

.projectsContainer {
  width: 100%;
  height: auto;
  padding: 50px 10px 50px 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projectsList.fadeIn {
  opacity: 1;
  animation: fadeInAnimation 2s ease-in-out;
}

.projectsContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectsTitle {
  font-size: 18px;
  color: #ffffff;
  position: relative;
  padding-right: 30px;
  width: fit-content;
}

.projectsTitle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 80%;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.projectsList {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

@keyframes fadeInAnimation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* @keyframes fadeOutAnimation {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
} */

/* Media Queries */
@media (min-width: 376px) {
  .projectsContent {
    gap: 20px;
  }
}

@media (min-width: 426px) {
  .projectsContainer {
    padding: 100px 20px 50px 20px;
  }
}

@media (min-width: 601px) {
}

@media (min-width: 769px) {
  .introHeader {
    padding: 200px 0;
  }

  .introHeaderContent {
    /* width: 800px; */
    padding: 0 20px;
    gap: 20px;
  }

  .introHeaderContent h1 {
    font-size: 64px;
  }

  .introHeaderContent p {
    width: 800px;
    font-size: 16px;
    padding: 0px 50px;
  }

  .workExpContainer {
    padding: 20px 250px 80px 250px;
    gap: 30px;
  }

  .workExpTitle {
    font-size: 24px;
    padding-right: 50px;
  }

  .workExpTitle::before {
    width: 50px;
  }

  .workExpList {
    overflow-x: hidden;
    gap: 30px;
    padding: 0 60px;

  }

  .workExpWrapper {
    gap: 20px;
  }

  .navigationButtons {
    margin-top: 30px;
  }

  .navButton {
    width: 48px;
    height: 48px;
  }

  .projectsContainer {
    padding: 100px 250px 20px 250px;
  }

  .projectsContent {
    gap: 30px;
  }

  .projectsTitle {
    font-size: 24px;
    padding-right: 50px;
  }

  .projectsTitle::before {
    width: 50px;
  }

  .projectsList {
    gap: 30px;
  }
}

@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
@media (min-width: 1441px) {
}
@media (min-width: 1921px) {
}
