.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  width: 280px;
  height: 280px;
  min-width: 280px;
  min-height: 280px;
  background-color: rgba(255, 255, 255, 0.06);
}

.cardContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImageContainer {
  width: 100%;
  height: 60%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 55px;
  position: relative;
}

.cardImage {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0px 50px;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.cardImageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  z-index: 1;
  opacity: 0;
}

.cardImageContainer:not(:has(img[src])) ::before {
  opacity: 1;
}

.cardTitle {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 10px;
  align-items: center;
  border-radius: 0px 0px 55px 55px;
}

.cardTitle h3 {
  font-size: 20px;
  font-weight: 700;
  color: #f08a8a;
}

.cardTitle p {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.cardTitle span {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 376px) {
}
@media (min-width: 426px) {
}
@media (min-width: 601px) {
}
@media (min-width: 769px) {
  .cardContainer {
    width: 320px;
    height: 320px;
    min-width: 320px;
    min-height: 320px;
  }

  .cardTitle {
    gap: 3px;
    padding-top: 20px;
  }

  .cardTitle h3 {
    font-size: 24px;
  }

  .cardTitle p {
    font-size: 16px;
  }
}
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
@media (min-width: 1441px) {
}
@media (min-width: 1921px) {
}
